<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KisanMitra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script>
      setTimeout(function() {
          document.getElementById("flash-message").style.display = "none";
      }, 2000);
  </script>
</head>

<body style="background-color: black;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- header -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message" class="alert alert-info">
      {{ messages|join}}<br>
      </div>
    {% endif %}
    {% endwith %}
  <nav class="navbar navbar-expand-lg" style="background-color: #ffffff">
    <div style="margin-top: -0.2%;" class="container-fluid">
      <a class="navbar-brand" href="{{url_for('index')}}">
      <img style="height:120px; width:180px;"src="{{ url_for('static', filename='logo/kisanmitra.png') }}">
      </a>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-5 mb-2 mb-lg-0 ms-auto ">
          <li class="nav-item">
            <a class="nav-link active fs-4 mx-2 text-black" href="{{url_for('index')}}" style="font-family: Calibri;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4 mx-2 text-black" href="{{url_for('aboutus')}}" style="font-family: Calibri;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4 mx-2 text-black" href="{{url_for('FPO')}}" style="font-family: Calibri;">FPO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4 mx-2 text-black" href="{{url_for('showequipment')}}" style="font-family: Calibri;">Equipment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4 mx-2 text-black" href="{{url_for('showpesticide')}}" style="font-family: Calibri;">Pesticides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-4 mx-2 text-black" style="font-family: Calibri;" onclick="openContactPopup()"id="contactLink">Contact Us</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5 mx-2 text-white btn btn-dark" style="font-family: Calibri; width: 85%; height: 88%" href="{{url_for('login')}}">LOG IN</a>
          </li>
          <li class="nav-item" style="margin-right: -40px;">
            <a class="nav-link active fs-5 mx-2 text-white btn btn-dark" style="font-family: Calibri; width: 85%; height: 88%" href="{{url_for('logout')}}">LOG OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>   
  <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-interval="2500" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='rotate/1.jpg') }}" class="d-block w-100" alt="Image Loading...!" height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h1>Drone</h1>
          <h3>Utilize drone technology for precision agriculture and monitoring crop health.</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='rotate/2.jpg') }}" class="d-block w-100" alt="..."height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h1>Combine Harvester</h1>
          <h3>Efficiently harvest crops with our advanced combine harvesters.</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='rotate/3.jpg') }}" class="d-block w-100" alt="..."height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h1>Rotavator</h1>
          <h3>Prepare the soil for planting and cultivation with our quality rotavators.</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='rotate/4.jpg') }}" class="d-block w-100" alt="..."height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h1>Digital Farming</h1>
          <h3>Involves the use of varied technologies, including sensors, drones, precision irrigation systems, GPS-guided machinery.</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='rotate/5.jpg') }}" class="d-block w-100" alt="..."height="600px">
        <div class="carousel-caption d-none d-md-block">
          <h1>Pesticides</h1>
          <h3>Chemical compounds that are used to kill pests, including insects, rodents, fungi and unwanted plants.</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
        <!-- Popup -->
        <div class="popup" id="popup">
            <span class="close-btn" onclick="closePopup()">X</span>
            <h2>Welcome To Kisan Mitra</h2>
            <p>
                Your trusted online platform dedicated to revolutionizing the agricultural sector. <br><br>
                At KisanMitra, we cater to the evolving needs of farmers by providing a seamless solution for renting farming equipment and purchasing essential pesticides.
                <br><br>Our mission is to empower farmers with modern tools and resources, enhancing efficiency and productivity in their agricultural practices.
            </p>
        </div>

        <!-- Contact Us Popup -->
<div class="popupharami" id="contactPopup">
  <span class="close-btn" onclick="closeContactPopup()">X</span>
  <h2>Contact Us</h2>
  <p>
      For any inquiries or assistance, feel free to reach out to us. <br><br>
      Email: kisanmitra@gmail.com <br>
      Phone: 0261 253xxx <br>
      Address: Gujrat Low Soc, Near Low Garden<br>
      Ahmedabad, Gujrat
  </p>
</div>

        <!-- Overlay to cover the rest of the page when the popup is open -->
        <div class="overlay" id="overlay"></div>
    </div>
    <section >
        <div class="container">
          <div class="service  mt-3" id="service">
            <div class="serviceheader">
              <h1>Services</h1>
              <p>Service That help To Grow More</p>
            </div>
            <div class="servicebody">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-3 ">
                  <div class="containers">
      
                    <div class="cards">
                      <div class="card-body">
                        <div class="content">
                          <h2><i class="fa fa-ticket"></i></h2>
                          <h3>Government Schemes</h3>
                          <p>The Ministries of the Government of India have come up with various government programs called schemes(Yojana). </p>
      
                          <a class="sb"href="https://agriwelfare.gov.in/en/Major">Know More</a>
      
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-3  ">
                  <div class="containers">
                    <div class="cards">
                     <div class="card-body ">
                      <div class="content">
                        <h2><i class="fa fa-bookmark"></i></h2>
                        <h3>Rent Equipments</h3>
                        <p>"Explore our extensive range of renting equipment and cultivate greater yields with ease."</p>
                        <a class="pb"href="addmachine.php">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12 mb-3 ">
                <div class="containers">
                  <div class="cards">
      
                    <div class="card-body ">
                      <div class="content">
                        <h2><i class="fa fa-leaf"></i></h2>
                        <h3>Pesticides</h3>
                        <p>"Discover our diverse selection of pesticides, empowering you to safeguard your crops and maximize yield potential."</p>
                        <a class="cb" href="addproduct.php">Know More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Benifits -->
        <div class="benifit">
        
        <h2>Benefits of Kisanmitra Services</h2>
        <ul class="custom-list">
        <hr style="height:2px;border-width:0;color:rgb(84, 84, 84);background-color:rgb(84, 84, 84)">
        <table>
          <tr>
            <td><li>Convenient equipment rental</li></td>
            <td><li>Extensive pesticide selection</li></td>
            </tr>
            <tr>
              <td><li>Cost-effective solutions</li></td>
              <td><li>Improved productivity</li></td>
              </td>
            </tr>
            <tr>
              <td><li>Streamlined operations</li></td>
              <td><li>FPO connectivity</li></td>
            </tr>
        </ul>
      </table>
        </div>
<!-- Our Success Stories -->
<div id="carouselExampleIndicators" class="carousel slide" style="background-image: url('{{ url_for('static', filename='rotate/carouselbg.jpg') }}')">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <center>
      <img src="{{ url_for('static', filename='story/s1.png') }}" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <center>
      <img src="{{ url_for('static', filename='story/s2.png') }}" class="d-block w-50" alt="...">
   
    </div>
    <div class="carousel-item">
      <center>
      <img src="{{ url_for('static', filename='story/s3.png') }}" class="d-block w-50" alt="...">
    </div>
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Footer -->
<footer class="text-center" style="background-color: #000000; color: white; padding: 20px 0;">
    <div class="container">
        <!-- Logo -->
        <div class="row mb-3">
            <div class="col-12">
              <a class="navbar-brand" href="{{url_for('index')}}">
                <img src="{{ url_for('static', filename='logo/kisanmitra.png') }}" alt="Logo" style="display: block; margin: 0 auto; max-width: 200px;">
              </a>
              </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <div class="alink">
                <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{{url_for('aboutus')}}">
                <h3>About Us</h3>
                </a>
                <br>
                <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{{url_for('showequipment')}}">
                <p>Equipments</p>
                </a>
                
                <a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="{{url_for('showpesticide')}}">
                <p>Pestisides</p>
                </a>
                <p><a class="link-light link-offset-2 link-underline link-underline-opacity-0" href="https://agriwelfare.gov.in/en/Major">Government Schemes</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <h3>Our Policies</h3>
                <br>
                <p>Privacy Policy</p>
                <p>Terms & Conditions</p>
                <p>Code of Conduct</p>
            </div>
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <br>
                <p>0261 253xxx</p>
                <p>kisanmitra@gmail.com</p>
                <p>Gujrat Low Soc, Near Low Garden<br>Ahmedabad, Gujrat</p>
            </div>
        </div>
    </div>
</footer>

  
  <!-- social media -->
    <div class="card text-center">
  
      <div class="card-footer text-body-primary fw-bolder" style="margin-bottom: -2%;">
        Available ON &nbsp; &nbsp;
        <img style="height: 2%; width: 2%;" src="{{ url_for('static', filename='logo/1.jpg') }}">
        <img style="height: 2%; width: 3%;" src="{{ url_for('static', filename='logo/insta.jpg') }}">
        <img style="height: 2%; width: 2%;" src="{{ url_for('static', filename='logo/link.jpg') }}">
        <img style="height: 2%; width: 2.4%;" src="{{ url_for('static', filename='logo/yt.png') }}">
      </div>
    </div>

    <!-- Script for pop-up and image rotation -->
    <script>
        // Function to open the popup
        function openPopup() {
            document.getElementById('popup').style.display = 'block';
            document.getElementById('overlay').style.display = 'block';
        }

        // Function to close the popup
        function closePopup() {
            document.getElementById('popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }

        // Open the popup automatically on page load
        window.onload = openPopup;

        // Function to open the Contact Us popup
        function openContactPopup() {
          document.getElementById('contactPopup').style.display = 'block';
          document.getElementById('overlay').style.display = 'block';
        }

        // Function to close the Contact Us popup
        function closeContactPopup() {
          document.getElementById('contactPopup').style.display = 'none';
          document.getElementById('overlay').style.display = 'none';
        }

    </script>

</body>

</html>
